apps/automation/workflows/teacher-agent.json
{
  "name": "Teacher Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teacher-agent",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equal",
              "value2": "check_progress"
            }
          ]
        }
      },
      "name": "Action Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "content": "Checking student progress..."
      },
      "name": "Progress Logic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "content": "Providing feedback..."
      },
      "name": "Feedback Logic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Router": {
      "main": [
        [
          {
            "node": "Progress Logic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}